.hc1_container{
    width: 100%;
    border-radius: 12px;
    padding: 16px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.card_icon{
    width: 30px;
    height: auto;
    margin-right: 8px;
}
.hc1_text{
    display: flex;
    flex: 1;
    flex-direction: column;
}
.text_container{
    font-size: 14px;
    line-height: 16.4px;
}

.title{
    font-weight: 500;
}

.description{
    font-weight: 400;
}