.card_main{
    flex: 1;
    height: 100%;
    margin: 24px 0px;
    display: flex;
    flex-direction: column;
    background: #F7F6F3;
    padding: 0px 12px;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}

.card_wrapper{
    margin: 8px;
    scroll-snap-align: center;
}

.scroll_wrapper{
    margin-bottom: 8px;
    width: 100%;
    display: flex;
    flex-direction: row;
    overflow-x: scroll;
    scroll-snap-type: x proximity;
}

.scroll_style{
    flex-shrink : 0;
    width: calc(100% - 16px);
    
}

.no_scroll_style{
    flex: 1;
}