.card_container{
    border-radius: 12px;
    padding: 16px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: relative;
}

 .hc9_config{
    width: auto;
    height: 100%;
 }

 .card_config{
    width: 100%;
    height: auto;
 }

.hc5_background{
    border-radius: 12px;
}

.card_icon{
    width: 30px;
    height: auto;
    margin-right: 8px;
}

.card_text{
    display: flex;
    flex: 1;
    flex-direction: column;
}
.text_container{
    font-size: 14px;
    line-height: 16.4px;
    text-decoration: none;
}

.title{
    font-weight: 500;
}

.description{
    font-weight: 400;
}
